.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj
*.pdf
*.txt
presentation/*
!presentation/twtr_workshop.Rmd
!presentation/twtr_workshop.pdf
helpers/*
data/tweets_all.rds
exercises/*.html
